p{
	margin:0;
}
ul{
	list-style-type:none;
}
body{
	background:url(../img/background.jpg);
}
.wrapper{
	width:1296px;
	margin:0 auto;
}
.header{
	background: url(../img/header.png);
	height:687px;
}
.main{
	background: url(../img/interval.png);
	height:400px;
	margin-top:-240px;
}
.footer-image{
	background:url(../img/footer.png);
	height:133px;
}
.footer{
	text-align: center;
	margin:50px 0 70px 0;
	color:black;
	font-size: 12px;
	opacity: 0.5;
	line-height: 20px;
}
.h1{
	opacity: 0;
}
.tips{
	color:#3b4c32;
	font-size: 14px;
	margin:277px 0 0 178px;
}
.tips span{
	color:#ffa11a;
	font-size: 20px;
}
.share{
    vertical-align: middle;
	display: inline-block;
	width:90px;
	height:30px;
	text-indent: -9999em;
	background: url(../img/share.png);
}
.copy{
	vertical-align: middle;
	display: block;
	width:90px;
	height:30px;
	text-indent: -9999em;
	background: url(../img/copy.png);
}
.aside{
	float:left;
	width:335px;
	margin-left:200px;
}
.section{
	float:left;
}
.list li{
	float:left;
}